.pre-footer-first{
    display: flex;
    gap: 10vh;
    justify-content: center;
    font-size: larger;
    padding: 2vh;

}
.flex-pre-footer-first{
    display: flex;
    align-items: center;
    gap: 2vh;
}
.pre-footer-logo{
    font-size: 50px;
    opacity: 0.5;
}
.pre-footer-second{
display: flex;
padding: 4vh;
gap: 20vh;
white-space: wrap;
justify-content: space-between;
background-color: rgb(220, 215, 215);
align-items: center;

}
.pre-footer-second-input{
    display: flex;
    flex-direction: column;
}
.pre-footer-second-input input{
   border: 1px solid rgb(189, 187, 187);
   outline: none;
   min-height: 5vh;
   border-radius: 5px;
   padding-left: 2vh;
 

}
.pre-footer-second-logo{
    display: flex;
    gap: 2vh;
}
.flex-pre-footer-first > p{
    font-size: 15px;
    white-space: wrap;
}
.pre-footer-second-logo svg{
    font-size:25px;
    opacity: 0.5;
}
.footer{
    display: flex;
   justify-content: flex-start;
 gap: 8vh;
   padding: 10vh;
    background-color:rgb(42, 41, 41);
 
    color: gray;

}
.footer-flex{
    display: flex;
    flex-direction: column;
    gap: 2vh;
}


.footer-chat-now{
    border: 1px solid gray;
    padding: 1vh;
color: gray;
}
.footer-list{
    transition: all 1s;
    cursor: pointer;
}
.footer-list:hover{
    color: white;
    transition: all 1s;
}
.footer-chat-now{
transition: all 1s;
border-radius: 5px;
}
.footer-chat-now:hover{
    color: white;
    border: 1px solid white;
}
.pre-footer-second-hide{
    display: none;
      }

.mobile-view-show-option{
    background-color:rgb(42, 41, 41);
  color: white;
 display: flex;
    flex-direction: column;
display: none;
}
.footer-mobile{
    display: none;
}
.footer-mobile{
    background-color:rgb(42, 41, 41);
    color: white;
}

@media screen and (min-width:1005px) {
    .pre-footer-second-hide{
        display: flex;
        flex-direction: column;
        gap: 1vh;
        justify-content: center;
    }
  
}
@media screen and (max-width:1005px) {
      .footer-hide-option{
        display: none;
    }
    .mobile-view-show-option{
    display: flex;

     
    }
    
}
@media screen and (max-width:857px) {
    .footer-hide-about{
        display: none;
    }
    
}
@media screen and (max-width:772px) {
    .pre-footer-second{
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 5vh;
    }
    .pre-footer-first{
        flex-direction: column;
    }
    
}
@media screen and (max-width:643px){
    .hide-retail-store{
        display: none;
    }
    .footer-pr{
        width: auto;
    }
}
@media screen and (max-width:447px){
  .hide-shop-learn{
    display: none;
  }
  .footer{
    justify-content: center;
 
  }
}
@media screen and (max-width:400px) {
    .pre-footer-second-input-hide{
      display: none;
    }
    .pre-footer-second{
        white-space: normal;
    }
    .footer-mobile{
        display: block;
    }
    .footer{
        display: none;
    }
 
}