.starProduct{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1vmax auto;
}
.starproduct-second{
    display:grid;
    grid-template-columns: auto auto;
}
.grid-oc{
    grid-column-start: 1 ;
    grid-column-end: 3;
}
.starProduct img{
    transition: all 0.5s;
    
}
.starProduct img:hover{
    box-shadow: 6px 6px 15px rgba(53, 53, 53, 0.363);
    
}