.video-pr{
    display: flex;
    width: 90vw;
    margin: auto;
    
}


@media screen and (max-width:702px) {
    .video-pr{
        flex-direction: column;
         justify-content: center;
         align-items: center;
         width: 100vw;
    }
}